/* <!-- SECTION PORTFOLIO --> */

.portfolio {
    margin: 30px 0;
}
.item-portfolio {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
.img-portfolio {
    width: 400px;
    border-radius: 15px;
}
.portfolio-text {
    font-size: 25px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 10px;
}
.indent-portfolio {
    height: 3px;
    background-color: black;
    width: 85px;
    border-radius: 20%;
  }